#contenedor_principal
	height 100vh -100px
	margin-top 80px

#menu_lateral
	margin-top 80px
	padding 15px
	width 200px

#menu_superior
	position fixed
	right 0
	left 0
	top 0
	z-index 1030
	
	div
		margin-right 10px

.clear
	clear both

.icono
	color gray
	cursor pointer
	text-decoration none
	
.modal
	margin-top 80px