tamanio_menu = 50px;

#cont_filtros
	margin-top 10px

#cont_grafico_resumen_mediciones
	height 360px

#cont_mediciones
	width 100%
	height 400px

#cont_panel
	margin-top 20px

#contenedor_principal
	height 100vh -100px
	margin-top tamanio_menu
	padding 0
	min-height 100%

#menu_lateral
	margin-top tamanio_menu
	padding 15px
	width 200px

#menu_superior
	position fixed
	right 0
	left 0
	top 0
	height tamanio_menu
	z-index 1030
	
	a
		height 50px
	
	div
		margin-right 10px

.clear
	clear both

.icono
	color gray
	text-decoration none
	
	:hover
		color green
	
.modal
	margin-top tamanio_menu
	
@media (max-width: 450px)
	#select_sector_filtro, #select_via_filtro, #select_costado_filtro
		width 70px

.uk-iconnav
	
	li
		margin-top 0px !important

		a
			padding-top 15px !important
			
			:hover
				color green