color_fe = gray;

input[type="radio"]
	margin 15%
	background-color rgba(255,255,255,.15)
	height 1em
	width 1em
	-webkit-border-radius 50%
	-webkit-box-shadow 0px 0px 0px 30px rgba(255,255,255,0)
	-webkit-transition box-shadow .4s
			
input[type="radio"]:hover
	-webkit-box-shadow 0px 0px 0px 0px rgba(255,255,255,.6)
	
#mediciones
	text-align center

#medicion
	display inline-block
	height 480px
	width 11%
	max-width 100px
	
	.contenedor
		cursor pointer
		display inline-block
		float left
		height 10%
		width 90%
		padding 3px

	.icon
		margin:5% auto;
		background-color: rgba(255,255,255,.15);
		width:2.5em;
		padding:2%;
		-webkit-border-radius: 50%;
		-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
		-webkit-transition:box-shadow .4s;
		
	.opacidad
		opacity: .4

.separador
	width 5px
	display inline-block

.medicion_anterior
	border-left 5px solid black

.medicion_normal
	border-left 5px solid transparent
	
.cero
	background-color color_fe
