
#js/commits.txt
#inicio.html
#index.php


# Creado por https://www.gitignore.io/api/codeigniter

### Archivos ###
/index.php
commits.txt

### Carpetas ###
user_guide/

# Fin de https://www.gitignore.io/api/codeigniter
